streamlit

numpy
pandas
Pillow
plotly

ultralytics

torch
torchvision

opencv-python-headless==4.10.0.84

paddleocr==2.7.3
paddlepaddle==2.6.2

ftfy
regex
reportlab

git+https://github.com/openai/CLIP.git
