streamlit

numpy==1.26.4
pandas
Pillow
plotly

ultralytics

torch
torchvision

opencv-python-headless

paddleocr==2.7.3
paddlepaddle==2.6.2

imgaug==0.4.0

ftfy
regex
reportlab

git+https://github.com/openai/CLIP.git
